doctype html
html
    head
        //title Dashboard :: Register
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        .login.well

            :verbatim
            include navbar.html
            br
            br
            h1  Create an Account!
            hr
            form(id='register-form', method='POST', action='/register' novalidate)
                .form-group
                  div
                    label(for='username', cols='4') Username
                    input(type='email', cols='8', name='username', class='form-control',
                    id='username', placeholder='Your username is your email',
                    required, data-required-msg='Username required'
                    data-available data-available-url="validate/email",
                    data-available-msg="There is already an account associated with this email address")
                .form-group
                  div
                    label(for='firstname' cols='4') First Name
                    input(type='text', cols='8',name='firstname', class='form-control',
                    id='firstname', placeholder='Enter first name',
                    required, data-required-msg='First name is required')
                .form-group
                    label(for='lastname',cols='4') Last Name
                    input(type='text', name='lastname', class='form-control',
                    id='lastname', placeholder='Enter last name',
                    required, data-required-msg='Last name is required')
                .form-group
                    label(for='password',cols='4') Password
                    input(type='password', name='password', class='form-control',
                    id='password', placeholder='Enter password',
                    required, data-required-msg='Password is required')
                .form-group
                    label(for='confirm-password',cols='4') Confirm Password
                    input(type='password', name='confirm-password', class='form-control',
                    id='confirm-password', placeholder='Confirm password',
                    required, data-required-msg="Please confirm your password"
                    data-matches='#password' data-matches-msg='The passwords do not match')
                .form-group
                    button.btn.btn-default Register
                    a(href="login")   Or Login

    //Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/bootstrap-3.3.1/dist/js/bootstrap.min.js')

